gallery_original_backup/
gallery_orig/
temp_skills/
temp_skills_unzip/
*.pdf
*.docx
*.csv
push_in_batches.ps1
compress_videos.ps1
Update_Gallery.ps1
Update_Gallery.js
fetch_ig_cover.py
*.bat
*.opml
*.md
!mediakit_makars.html
!gallery_data.js
!gallery_list.json
!background/
!gallery/
!thumbs/
